.main-div {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rosybrown;
}

.main-div #countDownP{
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
}

.white-div {
    height: 90px;
    width: 90px;
    background-color: rgb(250, 229, 212);
    
    
}

.white-div:hover{
    opacity: 70%;
}

.white-div:focus{
    background-color: yellowgreen;
}

.black-div {
    height: 90px;
    width: 90px;
    background-color: gray
}

.black-div:hover {
    opacity: 70%;
}

.black-div:focus{
    background-color: yellowgreen;
}

.grid-div{
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 0px;
  }

